@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+pro:400,900&display=swap');


        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
         }
             :root{
            --main-font: 'Source Sans Pro', sans-serif;
            --secondary-font: 'Herr Von Muellerhoff', cursive;
            --body-font: 'Cabin', sans-serif;
            --main-font-color-dark: #252525;
            --secondary-font-color: #c59d5f;
            --body-font-color: #515151;
        }
        img{
            width: 100%;
            max-width: 100%;
        }
        ul {
            list-style: none;
        }
        a{
            text-decoration: none;
        }
        
        header {
            position: static;
            top: 0;
            background-color: transparent;
            z-index: 1000;
            width: 100%;
            height: 5rem;    
        }
        .container {
    max-width: 65rem;
    padding: 0 1.5rem;   
    margin: 0 auto;
    display: flex;
    position: relative;
}
.logo-container{      
     width: 270px;
     height: auto;
    flex: 1;
  display: flex;
  align-items: center;
  background-color: rgba(173, 199, 67, 1);
    border: 2px solid rgba(173, 199, 67, 1);
}
.nav-btn {
    flex: 3;
    display: flex;
    z-index: 1000;
}
.nav-links {
    flex: 2;    
}
.nav-link a.active{
    color: rgba(173, 199, 67, 1);
}
.log-sign {
    flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
    color: #fff;
    background-color: rgba(173, 199, 67, 1);
    border: 2px solid rgba(173, 199, 67, 1);
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    
}
.logo span{
    font-weight: 200;
    font-size: 0.5rem;
}
.btn {
    display: inline-block;
    padding: .5rem 1.3rem;
    font-size: .9rem;
    border-radius: 2rem;
    line-height: 1;
    margin: 0 .1rem;
    transition: .3s;
    text-transform: capitalize;
}
.png {
    padding-left: .5rem;
}
.btn.solid {
    background-color: #fff;
    color: rgb(37, 36, 36);
}
.btn.solid:hover {
    background-color: rgba(173, 199, 67, 1);
    color: #fff;
}
.nav-links > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 35px;
}
.nav-link {
    position: relative;    
}
.nav-link > a {
    line-height: 3rem;
    color: rgb(37, 36, 36);
    padding: 0 .8rem;
    letter-spacing: 1px;
    font-size: .65rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    transition: .5s;
}
.nav-link > a > i {
    margin-left: .2rem;
}
.nav-link:hover > a {
    transform: scale(1.1);
    color: rgba(173, 199, 67, 1);
}
.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 10rem;  
      transform: translateY(10px);
      opacity: 0;
      pointer-events: none;
      transition: .5s;
}
.dropdown ul {
    position: relative;
}
.dropdown-link > a{
    display: flex;
    
    background-color: #fff;
    color: rgba(173, 199, 67, 1);
    padding: .5rem 1rem;
    font-size: .9rem;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}
.dropdown-link:hover > a {
    background-color: rgba(173, 199, 67, 1);
    color: #fff;
}

.dropdown-link i {
    transform: rotate(-90deg);
}
.arrow {
    position: absolute;
    width: 11px;
    height: 11px;
    top: -5.5px;
    left: 32px;
    background-color: #fff;
    transform: rotate(45deg);
    cursor: pointer;
    transition: .3s;
    z-index: -1;
}
.dropdown-link:first-child:hover ~ .arrow {
    background-color: rgba(173, 199, 67, 1);
}
.dropdown-link{
    position: relative;
}
.dropdown.second{
    top: 0;
    left: 100%;
    padding-left: .8rem;
    cursor: pointer;
    transform: translateX(10px);
}
.dropdown.second .arrow {
    top: 10px;
    left: -5.5px;
}
.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown{
    transform: translate(0,0);
    opacity: 1;
    pointer-events: auto;
}
.hamburger-menu-container {
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-end;
}
.hamburger-menu {
    width: 2.5rem;
    height: 2.5rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.hamburger-menu div{
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background-color: rgb(75, 73, 73);
    position: relative;
    z-index: 1001;
    transition: .5s;
}
.hamburger-menu div:before,
.hamburger-menu div:after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: rgb(75, 73, 73);
    border-radius: 3px;
    transition: .5s;
}
.hamburger-menu div:before{
    transform: translateY(-10px);
}
.hamburger-menu div:after{
    transform: translateY(10px);
}
#check{
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
    display: none;
}
#check:checked ~ .hamburger-menu-container
.hamburger-menu div{
    background-color: transparent;
}
#check:checked ~ .hamburger-menu-container
.hamburger-menu div:before{
    transform: translateY(0) rotate(-45deg);
}
#check:checked ~ .hamburger-menu-container
.hamburger-menu div:after{
    transform: translateY(0) rotate(45deg);
}

.banner{
    position: relative;
    width: 100%;
    min-height: 20vh;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(footer.jpg) no-repeat top center / cover;
    background-size: cover;
}
.name{
    position: absolute;
    max-width: 765px;
    text-align: center;
}
.name h1{
    text-transform: capitalize;
    color: #fff;
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.6;
}
.hero{
    position: relative;
    margin: 50px auto;
    width: 98%;
    height: 1755px;
    overflow: hidden;
}
.btn-box{
    display: flex;
    margin-left: 10px;
}
.btn-box button{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0 16px;
    font-size: 16px;
    font-weight: 300;
    text-transform: capitalize;
}
.btn-box button:hover{
    color: rgba(173, 199, 67, 1);
}
.posts{
    padding: 40px 0;
    text-align: center;
    color: #434343;
    position: absolute;
    transform: translateX(100%);
    transition: 0.3s;
}
.inner{
    max-width: 1400px;
    padding: 0 10px;
    margin: auto;
    overflow: hidden;
}
.inners{
    max-width: 1300px;
    padding: 10px 240px;
    margin: auto;
    overflow: hidden;
}
.inners .post{
    border: 1px solid rgb(194, 189, 189);
    margin: 40px 0;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}
.inners .col{
    flex: 100%;
    max-width: 100%;
    box-sizing: border-box;
}
.inners .post-img{
    max-width: 880px;
    height: 465px;
    position: relative;
}

.post-img{
    min-width: 395px;
    max-width: 395px;
    height: 305px;
    position: relative;
}
.post-img img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.post-body{
    position: relative;
    text-align: start;
    padding-top: 32px;
    padding-bottom: 52px;
    padding-left: 20px;
    padding-right: 20px;
}
.image{
    display: flex;
    align-items: center;
   
}
.image img{
    max-width: 40px;
    min-width: 40px;
    height: 40px;
    position: relative;
}
.jul{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    margin: -35px 0px 0px 50px;
}
.admin:hover{
    color: rgba(173, 199, 67, 1);
}
.min{
    margin-left: 50px;
    font-size: 14px;
    color: rgb(155, 152, 152);
}
.on:hover{
    color: rgba(173, 199, 67, 1);
}
.any{
    font-size: 22px;
    font-weight: 400;
    padding: 15px 0;
}
.create{
    font-weight: 300;
    font-size: 15px;
    line-height: 1.3;
}
.border{
    border-bottom: 1px solid rgb(194, 189, 189);
    width: 365px;
    padding: 60px 10px;
}
.inners .border{
    border-bottom: 1px solid rgb(194, 189, 189);
    width: 748px;
    padding: 40px 10px;
}
.one{
    padding: 10px;
    font-size: 13px;
    font-weight: 100;
}
.ones{
    padding: 10px;
    font-size: 13px;
    font-weight: 100;
}
.ones:hover{
    color: rgba(173, 199, 67, 1);
}
.view{
    padding: 10px 0;
}
#posts1{
    transform: translateX(0px);
}
#btn1{
    color: rgba(173, 199, 67, 1);
}
footer{
    align-items: center;
    justify-content: center;
    background: url(footer.jpg) no-repeat top center / cover;
    background-size: cover;
    bottom: 0;
    width: 100%;
    margin: 0px 0 20px 0;
    color: #fff;
}       

.main-content{
    display: flex;
}
.main-content .box{
    flex-basis: 50%;              
    text-align: center;
    align-items: center;         
}
.left{
    padding: 100px 50px 100px 180px;
}
.middle{
    padding: 100px 50px;
}
.right{
    padding: 100px 180px 100px 50px;
}
.box h4{
    font-weight: 300;
    font-size: 18px;
}
.box h1{
    font-weight: 300;
    font-size: 24px;
}
.box .center{
    font-size: 16px;
    font-weight: 100;
    padding: 40px 0;
}
.tel{
    font-size: 18px;
    font-weight: 300;
}
.media{
    padding: 60px 0;
}    
.fa{
    font-size: 30px !important;
 }    
.media a{
    color: #fff;
    padding: 0 8px;
}
.media a:hover{
    color: rgb(127, 146, 50);
}
.has{
    border-left-style: solid;
    border-color: #fff;
    border-left-width: 2px;
    padding: 50px 0;
    margin: -150px 0;
}
.have{
    border-left-style: solid;
    border-color: #fff;
    border-left-width: 2px;
    padding: 50px 0;
    margin: -180px 0;
}
.copy{
    padding: 10px 0;
}
.by{
    text-align: center;
    font-size: 20px;
}





@keyframes animation {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 992px) {
    header{
background-color: rgba(173, 199, 67, 1);
}
.logo-container{
margin: 10px 0;
}
.logo {
font-size: 20px;
letter-spacing: 2px;
font-weight: 300;
width: 270px;
}
.hamburger-menu-container{
display: flex;
}
#check {
display: block;
}
.nav-btn{
    position: fixed;
    height: calc(100vh - 3rem);
    top: 4rem;
    right: 0;
    width: 50%;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateX(100%);
    transition: .65s;
    }
#check:checked ~ .nav-btn{
transform: translateX(0);
}
#check:checked ~ .nav-btn .nav-link,
#check:checked ~ .nav-btn .log-sign {
animation: animation .5s ease forwards .6s;
}
.nav-links{
flex: initial;
width: 100%;
}
.nav-links > ul{
flex-direction: column;
}
    .nav-link > a{
        line-height: 1;
        padding: 1.6rem 2rem;
        font-size: .65rem;
        }
        .nav-link:hover > a{
        transform: scale(1);
        background-color: #fff;
        color: black;
        }
        .nav-link a.active{
            color: #16181a;
        }
        .nav-link a.active:hover{
            background-color: #16181a;
            color: #fff;
        }
        .dropdown, .dropdown.second{
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        opacity: 1;
        pointer-events: auto;
        width: 100%;
        padding: 0;
        background-color: #fff;
        display: none;
        }
.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown{
display: block;
}
.nav-link:hover > a > i,
.dropdown-link > a > i{
transform: rotate(360deg);
}
.dropdown-link > a{
    background-color: transparent;
    color: #16181a;
    padding: 1.2rem 2rem;
    line-height: 1;
    }
.dropdown-link:not(:nth-last-child(2)){
border-bottom: none;
}
.dropdown.second .dropdown-link > a{
padding: 1.2rem 2rem 1.2rem 3rem;
}
.dropdown.second .dropdown.second  .dropdown-link > a{
padding: 1.2rem 2rem 1.2rem 4rem;
}
.arrow{
    z-index: 1;
    background-color: #fff;
    left: 10%;
    transform: scale(1.1) rotate(45deg);
    transition: .5s;
    }
    .nav-link:hover .arrow{
    background-color: #fff;
    }
.dropdown .dropdown .arrow{
display: none;
}
.dropdown-link:hover > a{
    background-color: #16181a;
    }
    .dropdown-link:first-child:hover ~ .arrow {
    background-color: #16181a;
    }
.nav-link > a > i {
font-size: 1.1rem;
transform: rotate(-90deg);
transition: .7s;
}
.dropdown i {
font-size: 1rem;
transition: .7s;
}
.log-sign{
flex: initial;
width: 100%;
padding: 1.5rem 1.9rem;
justify-content: flex-start;
opacity: 0;
transform: translateY(15px);
}
.col{
    flex: 100%;
    max-width: 100%;
}
.post-img{
    max-width: 100%;
}
.hero{
    height: 4400px;
}
.inners{
    padding: 0;
}
.post-body{
    max-width: 450px;
}
.border{
    width: 420px;
}
.inners .border{
    width: 460px;
}
footer{
    margin: 0;
    height: 300px;
}

.main-content{
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.main-content .box{
 display: flex;
 flex-direction: column;
 padding: 20px;
}
.box h4{
    width: 190px;
    font-size: 18px;
}
.box h1{
    font-size: 28px;
}
.box .center{
    padding: 2px 0;
    font-size: 16px;
}
.right{
    margin: 10px 0;
}
.copy{
    margin: 10px 0;
    font-size: 22px;
}
.have, .has{
    border-left-style: none;
}
.media{
   margin: 10px 0;
}
.media a:hover{
    color: rgba(173, 199, 67, 1);
}

}